@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

body {
margin-left: 351px;
margin-top: 30px;
margin-right: 352px;
}
hr {
  color: #E9E9E9;
  margin: 0;
}
h1 {
      font-family: 'Lora' ;
      font-size: 64px;
      font-style: bold;
      font-weight: 700;
      line-height: normal;
      color: #2d2d2d;
      margin: 0;
    }

    h2 {
     font-family: 'Inter';
     font-size: 24px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     color: #2d2d2d;
     margin-bottom: 24.1px;
   
    }
    h3 {
     font-family: 'Lora';
     font-size: 20px;
     font-style: normal;
     font-weight: 400;
     line-height: normal;
     color: #757575
   
    }

    li 
    {
    font-family: 'Lora';
      color: #2d2d2d;
       padding-left: 13px;
       list-style-type: disc;
       margin-bottom: 13.05px;
    }

    ul {
    margin-top: 24px;
    margin-left: 22px;
    padding-left: 22px;
    display: grid;
    gap: 13px;
}
section {
margin-bottom: 49.27px;
}

.kyky {
  font-family: 'Inter';
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 38.71px;
}
.www {
  margin-top: 10px;
 margin-bottom: 30px;
}
header {
    display: inline-flex;
    padding: 0 456px 0.481px 0;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 30px;
    gap: 26px;
}
.lulu {
  font-family: 'Lora';
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px;
color: #757575 ;
margin-top: 13px;
}

.bebe  {
  font-family: 'Lora';
  color: #757575 ;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
margin-bottom: 15.16px;
}
.ee  {
  font-family: 'Lora';
  color: #2d2d2d ;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: none;
text-decoration-thickness: auto;
text-underline-offset: auto;
margin-left: 20px;
}
.iconka {
   margin-left: 16px;
}
footer {
  margin-top: 20px;
  margin-bottom: 74px;
}